[submodule "pic32lib"]
	path = pic32lib
	url = ssh://git@pontech.dyndns.org/~/arduino/libraries/pic32lib
[submodule "TokenParser"]
	path = TokenParser
	url = ssh://git@pontech.dyndns.org/~/arduino/libraries/TokenParser
